<h1>Contact</h1>

<p>This is a project of the <a href="//chmtl.indiana.edu">Center for the History of Music Theory and Literature</a> at <a href="//iub.edu">Indiana University</a>. Individual names are below.

<ul>
  <li>General questions - chmtl [AT] indiana [DOT] edu</li>
  <li>Michael McClimon (technical issues) - mjmcclim [AT] indiana [DOT] edu</li>
  <li>Giuliano Di Bacco (director, CHMTL) - gdibacco [AT] indiana [DOT] edu</li>
</ul>
